@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500');

html,
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background: rgb(217, 232, 236);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #007bff;
}

a {
    color: #fff;
    text-decoration: none !important;
}

a:hover {
    color: #fff;
}

.navbar {
    text-align: center;
    padding: 25px;
    list-style: none;
}

.navbar-brand {
    margin-right: 40px;
}

.navbar li {
    display: inline;
    margin: 8px;
}

.navbar li a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 2px;
    margin: 0px 15px;
}

header {
    position: relative;
    height: 100%;
    background: #007bff;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.jumbotron {
    background-color: #007bff !important;
}

header .jumbotron h1 {
    font-weight: 500;
}

header .jumbotron p {
    color: #fff;
}

.rent .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.rent hr {
    margin: 1.5rem 0;
}

.rent .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.rent .card-details {
    font-size: 3rem;
    margin: 0;
}

.rent .card-details .period {
    font-size: 0.8rem;
}

.rent ul li {
    margin-bottom: 1rem;
}

.rent ul h6 {
    text-transform: uppercase;
}

.rent .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

.fa-ul {
    margin-left: -5px;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
    .rent .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .rent .card:hover .btn {
        opacity: 1;
    }
}

/* ADD PRODUCT FORM*/
.form-add-product {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.form-add-product .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-add-product .form-control:focus {
    z-index: 2;
}

input[type='text'],
[type='email'],
textarea {
    margin-bottom: 10px;
}

.btn-block {
    margin-bottom: 50px;
}

footer {
    padding: 25px;
}

/* 404 */
.page_404 {
    padding: 50px;
    background: #fff;
}

.page_404 img {
    width: 100%;
    height: auto;
}

.four_zero_four_bg {

    background-image: url('https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif');
    height: 400px;
    background-position: center;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #007bff;
    margin: 20px 0;
    display: inline-block;
    border-radius: 20px;
}

.contant_box_404 {
    margin-top: -50px;
}